* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  position: relative;
  padding: 4rem 0;
}
.thumbnail {
  width: 80px;
  height: 80px;
  margin: 0 0 0.2rem;
}
.top {
  display: flex;
  justify-content: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: 0 8rem;
  width: 60%;
}
.active {
  display: block;
}
.hidden {
  opacity: 0;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-image {
  width: 468px;
  height: fit-content;
  transition: all 1s ease;
}
.btn {
  background-color: #fff;
  border: none;
}

.caption {
  position: absolute;
  bottom: 0;
  font-size: 18px;
  right: 2rem;
  width: 428px;
  background-color: #f4f4f4;
  padding: 2rem;
  /* transform: translateX(640px); */
}

/*================ Phone Responsive breakpoint ===============*/

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2rem 0;
    width: 100%;
  }
  .active-image {
    width: 80%;
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.4rem;
    margin: 2rem auto 6rem;
    padding: 0 2rem;
    width: 100%;
  }
  .caption {
    width: 80%;
    bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 686px) {
  .bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
    margin: 4rem auto 6rem;
    padding: 0 4rem;
    width: 100%;
  }
}
