* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  padding: 4rem 0;
}
.thumbnail {
  width: 80px;
  height: 80px;
}
.top {
  display: flex;
  justify-content: center;
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 0 8rem;
}
.active {
  display: block;
}
.hidden {
  opacity: 0;
}
.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.active-image {
  width: 480px;
  height: max-content;
}
.btn {
  background-color: #fff;
  border: none;
}

.caption {
  position: absolute;
  bottom: 2rem;
  font-size: 18px;
  left: 46rem;
  width: 428px;
  background-color: #f4f4f4;
  padding: 2rem;
  /* transform: translateX(640px); */
}
